.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(21, 27, 31, 0.534);
  z-index: 1000;
  position: fixed;

  top: 0;
  left: 0;

  & .modal-page {
    width: 400px !important;
    height: auto;
    max-height: 460px;
    background-color: #fff;
    padding: 30px;
  }
}
