.agendamento-container {
  display: flex;
  flex-direction: column;

  & .titulo {
    width: 100%;
    text-align: center;
    margin-top: 25px;
  }

  & .agenda-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 400px;
    padding: 20px 70px;

    & .calendario,
    .equipe-lista {
      display: flex;
      width: 48%;
    }

    & .calendario {
      display: flex;
      justify-content: flex-start;
    }

    & .empty-lista {
      display: flex;
      flex-direction: column;

      & .titulo-horario {
        width: 100%;
        margin-top: 20px;
        text-align: center;
      }
    }

    & .equipe-lista {
      display: flex;
      flex-direction: column;

      & .titulo {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: initial;
      }
    }
  }
}
