$font-size-base: 16px;
$font-size-middle: 14px;
$font-size-small: 12px;

$primary-color: #536076;
$secondary-color: #f4f4f4;
$third-color: #3f4b61;
$fourth-color: #404040;
$bg-transparent-ligth: rgba(0, 0, 0, 0.25);
$bg-transparent-dark: rgba(0, 0, 0, 0.5);

$font-primary-color: #333;
$font-secondary-color: #fff;
$font-third-color: #a6a6a6;

$border-color-base: #eaeaea;

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin unstyled-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
